Aspose.Slides==24.11.0         # Updated from 23.4.0 (no Py3.13 support)
folium==0.14.0
numpy==1.23.5                  # >=1.22 needed for Python >=3.10, still compatible
pandas==1.3.5
plotly==5.14.1
requests==2.31.0               # Use lowercase 'requests'
streamlit==1.11.0
streamlit_authenticator==0.1.5
streamlit_folium==0.6.14
protobuf==3.20.3               # Fixes the "Descriptors cannot be created" error
